<nav id="navbar" class="flex items-center justify-between py-2 px-4 sm:py-4 sm:px-8 text-gray-700 dark:text-gray-300">
    <div class="flex items-center">
        <a href="/" class="flex items-center">
            <img src="/images/qed.svg" alt="QED UAM" class="max-h-8 sm:max-h-12 w-auto stroke-2 dark:invert" />
        </a>
        <div class="hidden sm:flex ml-6 space-x-4 md:space-x-6">
            <a href="/<%= __('magazine.index.url') %>" class="hover:text-gray-900 dark:hover:text-gray-100 transition duration-150"><%= __("magazine.index.title") %></a>
            <a href="/<%= __('activities.index.url') %>" class="hover:text-gray-900 dark:hover:text-gray-100 transition duration-150"><%= __("activities.index.title") %></a>
            <a href="/<%= __('about.url') %>" class="hover:text-gray-900 dark:hover:text-gray-100 transition duration-150"><%= __("about.title") %></a>
            <a href="/<%= __('contact.url') %>" class="hover:text-gray-900 dark:hover:text-gray-100 transition duration-150"><%= __("contact.title") %></a>
        </div>
        <button id="mobile-menu-button" class="sm:hidden hover:text-gray-900 dark:hover:text-gray-100 transition duration-150 ml-4 focus:outline-none">
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M3 5h14a1 1 0 010 2H3a1 1 0 110-2zm0 4h14a1 1 0 010 2H3a1 1 0 110-2zm0 4h14a1 1 0 010 2H3a1 1 0 110-2z" clip-rule="evenodd"></path>
            </svg>
        </button>
    </div>
    <div class="flex items-center space-x-2">
        <% if (SUPPORTED_LANGUAGES.length > 1) { %>
        <div class="relative inline-block text-left">
            <button id="lang-button" class="flex items-center hover:text-gray-900 dark:hover:text-gray-100 transition duration-150">
                <img id="current-lang-icon" class="h-5 w-5 pointer-events-none" src="https://hatscripts.github.io/circle-flags/flags/language/<%= getLocale() %>.svg" alt="<%= getLocale().toUpperCase() %>">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
            </button>
            <div id="lang-dropdown" class="hidden origin-top-right absolute right-0 mt-2 w-max rounded-md shadow-lg bg-white dark:bg-gray-800 ring-1 ring-black ring-opacity-5">
                <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                    <% SUPPORTED_LANGUAGES.forEach(language => { %>
                        <a href="javascript:;" onclick="setLanguage('<%= language %>')" class="flex items-center px-4 py-2 text-sm hover:text-gray-900 dark:hover:text-gray-100 hover:bg-gray-100 dark:hover:bg-gray-700 transition duration-150">
                            <img class="h-4 w-4 mr-2 pointer-events-none" src="https://hatscripts.github.io/circle-flags/flags/language/<%= language %>.svg" alt="<%= language.toUpperCase() %>">
                            <% 
                                function capitalizeFirstLetter(string) {
                                    if (!string) return string;
                                    return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
                                }
                                const translatedLanguage = capitalizeFirstLetter((new Intl.DisplayNames([getLocale()], {type: 'language'})).of(language)) + (language === getLocale() ? "" : ` (${capitalizeFirstLetter((new Intl.DisplayNames([language], {type: 'language'})).of(language))})`)
                            %>
                            <%= translatedLanguage %>
                        </a>
                    <% }) %>
                </div>
            </div>
        </div>
        <% } %>
        <div class="flex items-center">
            <a class="group flex items-center gap-x-3.5 rounded-md px-2.5 py-2 dark:hidden hover:text-gray-900 dark:hover:text-gray-100 transition duration-150" href="javascript:;" data-theme-value="dark">
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="-0.5 -0.5 17 17">
                    <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z" />
                </svg>
            </a>
            <a class="hidden items-center gap-x-3.5 rounded-md px-2.5 py-2 dark:flex hover:text-gray-900 dark:hover:text-gray-100 transition duration-150" href="javascript:;" data-theme-value="light">
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                </svg>
            </a>
        </div>
    </div>
</nav>

<!-- Mobile Menu -->
<div id="mobile-menu" class="fixed flex w-full inset-y-0 left-0 z-[100] text-gray-700 dark:text-gray-300 transform -translate-x-full transition-transform duration-200 ease-in-out">
    <div class="p-4 z-50 bg-gray-300 dark:bg-gray-600 min-w-[75%]">
        <button id="close-mobile-menu" class="flex w-full justify-end hover:text-gray-900 dark:hover:text-gray-100 transition duration-150 focus:outline-none">
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
            </svg>
        </button>
        <div class="mt-4 space-y-4">
            <a href="/<%= __('magazine.index.url') %>" class="block hover:text-gray-900 dark:hover:text-gray-100 transition duration-150"><%= __("magazine.index.title") %></a>
            <a href="/<%= __('activities.index.url') %>" class="block hover:text-gray-900 dark:hover:text-gray-100 transition duration-150"><%= __("activities.index.title") %></a>
            <a href="/<%= __('about.url') %>" class="block hover:text-gray-900 dark:hover:text-gray-100 transition duration-150"><%= __("about.title") %></a>
            <a href="/<%= __('contact.url') %>" class="block hover:text-gray-900 dark:hover:text-gray-100 transition duration-150"><%= __("contact.title") %></a>
        </div>
    </div>
    <div id="mobile-menu-overlay" class="w-[200vw] h-screen bg-gray-900 opacity-75 -z-10 hidden"></div>
</div>

<script>
    (() => {
        const langDropdown = document.getElementById("lang-dropdown");
        const mobileMenuButton = document.getElementById("mobile-menu-button");
        const mobileMenu = document.getElementById("mobile-menu");
        const mobileMenuOverlay = document.getElementById("mobile-menu-overlay");
        const closeMobileMenuButton = document.getElementById("close-mobile-menu");
        
        document.getElementById("lang-button").addEventListener("click", (event) => {
            event.stopPropagation();
            langDropdown.classList.toggle("hidden");
        });
        
        document.addEventListener("click", (event) => {
            if (!langDropdown.classList.contains("hidden")) langDropdown.classList.add("hidden");
        });
        
        mobileMenuButton.addEventListener("click", () => {
            mobileMenu.classList.remove("-translate-x-full");
            mobileMenuOverlay.classList.remove("hidden");
        });
        
        closeMobileMenuButton.addEventListener("click", () => {
            mobileMenu.classList.add('-translate-x-full');
            mobileMenuOverlay.classList.add("hidden");
        });
        
        mobileMenuOverlay.addEventListener("click", () => {
            mobileMenu.classList.add('-translate-x-full');
            mobileMenuOverlay.classList.add("hidden");
        });
    })();
    
    function setLanguage(language) {
        document.cookie = `lang=${language}; path=/; max-age=31536000`;
        location.reload();
    };

    if (!(`; ${document.cookie}`.split(`; lang=`).length > 1)) setLanguage("es");
</script>